:root {
  --dark-blue: #073b4c;
  --light-blue: #118ab2;
  --whiteish: #d7fdf0;
  --pale-green: #b2ffd6;
  --pink: #aa78a6;
  --gun-metal: #1e343b;
  --gun-metal-scroll: #1e343bc0;
  --pale-green-scroll: #b2ffd691;
  --pale-green-scroll-light: #b2ffd6d3;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background-color: var(--gun-metal-scroll);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pale-green-scroll);
  transition: 0.6s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--pale-green);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: var(--pale-green-scroll);
}

/* ----------------------------------------------------- */
/* Header */
/* ----------------------------------------------------- */

.mock-container {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background-color: var(--dark-blue);
  min-width: 600px;
}

.header {
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid var(--pale-green);
}

.title {
  display: inline-flex;
  padding: 8px 13px;
  font-size: 40px;
  color: var(--pale-green);
}

.header-info {
  float: right;
  display: inline-flex;
  margin-top: 14px;
}

.start-container {
  position: relative;
  height: fit-content;
  padding: 0.15rem;
  border-radius: 10px;
  margin-top: -1px;
  /* background: linear-gradient(0deg, var(--whiteish), var(--gun-metal)); */
  /* animation: move 2s ease 0.1s infinite; */
}

.start-button {
  color: var(--pale-green);
  background-color: var(--gun-metal);
  border: none;
  padding: 6px 14px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid var(--pale-green);
  transition: 0.2s ease;
}

.start-button:hover {
  background-color: var(--pale-green);
  color: var(--gun-metal);
  cursor: pointer;
}

#hide-start {
  display: none;
}

@keyframes move {
  0% {
    background: linear-gradient(0deg, var(--whiteish), var(--gun-metal));
  }
  1% {
    background: linear-gradient(4deg, var(--whiteish), var(--gun-metal));
  }
  2% {
    background: linear-gradient(8deg, var(--whiteish), var(--gun-metal));
  }
  3% {
    background: linear-gradient(12deg, var(--whiteish), var(--gun-metal));
  }
  4% {
    background: linear-gradient(16deg, var(--whiteish), var(--gun-metal));
  }
  5% {
    background: linear-gradient(20deg, var(--whiteish), var(--gun-metal));
  }
  6% {
    background: linear-gradient(24deg, var(--whiteish), var(--gun-metal));
  }
  7% {
    background: linear-gradient(28deg, var(--whiteish), var(--gun-metal));
  }
  8% {
    background: linear-gradient(32deg, var(--whiteish), var(--gun-metal));
  }
  9% {
    background: linear-gradient(36deg, var(--whiteish), var(--gun-metal));
  }
  10% {
    background: linear-gradient(40deg, var(--whiteish), var(--gun-metal));
  }
  11% {
    background: linear-gradient(44deg, var(--whiteish), var(--gun-metal));
  }
  12% {
    background: linear-gradient(48deg, var(--whiteish), var(--gun-metal));
  }
  13% {
    background: linear-gradient(52deg, var(--whiteish), var(--gun-metal));
  }
  14% {
    background: linear-gradient(56deg, var(--whiteish), var(--gun-metal));
  }
  15% {
    background: linear-gradient(60deg, var(--whiteish), var(--gun-metal));
  }
  16% {
    background: linear-gradient(64deg, var(--whiteish), var(--gun-metal));
  }
  17% {
    background: linear-gradient(68deg, var(--whiteish), var(--gun-metal));
  }
  18% {
    background: linear-gradient(72deg, var(--whiteish), var(--gun-metal));
  }
  19% {
    background: linear-gradient(76deg, var(--whiteish), var(--gun-metal));
  }
  20% {
    background: linear-gradient(80deg, var(--whiteish), var(--gun-metal));
  }
  21% {
    background: linear-gradient(84deg, var(--whiteish), var(--gun-metal));
  }
  22% {
    background: linear-gradient(88deg, var(--whiteish), var(--gun-metal));
  }
  23% {
    background: linear-gradient(92deg, var(--whiteish), var(--gun-metal));
  }
  24% {
    background: linear-gradient(96deg, var(--whiteish), var(--gun-metal));
  }
  25% {
    background: linear-gradient(100deg, var(--whiteish), var(--gun-metal));
  }
  26% {
    background: linear-gradient(104deg, var(--whiteish), var(--gun-metal));
  }
  27% {
    background: linear-gradient(108deg, var(--whiteish), var(--gun-metal));
  }
  28% {
    background: linear-gradient(112deg, var(--whiteish), var(--gun-metal));
  }
  29% {
    background: linear-gradient(116deg, var(--whiteish), var(--gun-metal));
  }
  30% {
    background: linear-gradient(120deg, var(--whiteish), var(--gun-metal));
  }
  31% {
    background: linear-gradient(124deg, var(--whiteish), var(--gun-metal));
  }
  32% {
    background: linear-gradient(128deg, var(--whiteish), var(--gun-metal));
  }
  33% {
    background: linear-gradient(132deg, var(--whiteish), var(--gun-metal));
  }
  34% {
    background: linear-gradient(136deg, var(--whiteish), var(--gun-metal));
  }
  35% {
    background: linear-gradient(140deg, var(--whiteish), var(--gun-metal));
  }
  36% {
    background: linear-gradient(144deg, var(--whiteish), var(--gun-metal));
  }
  37% {
    background: linear-gradient(148deg, var(--whiteish), var(--gun-metal));
  }
  38% {
    background: linear-gradient(152deg, var(--whiteish), var(--gun-metal));
  }
  39% {
    background: linear-gradient(156deg, var(--whiteish), var(--gun-metal));
  }
  40% {
    background: linear-gradient(160deg, var(--whiteish), var(--gun-metal));
  }
  41% {
    background: linear-gradient(164deg, var(--whiteish), var(--gun-metal));
  }
  42% {
    background: linear-gradient(168deg, var(--whiteish), var(--gun-metal));
  }
  43% {
    background: linear-gradient(172deg, var(--whiteish), var(--gun-metal));
  }
  44% {
    background: linear-gradient(176deg, var(--whiteish), var(--gun-metal));
  }
  45% {
    background: linear-gradient(180deg, var(--whiteish), var(--gun-metal));
  }
  46% {
    background: linear-gradient(184deg, var(--whiteish), var(--gun-metal));
  }
  47% {
    background: linear-gradient(188deg, var(--whiteish), var(--gun-metal));
  }
  48% {
    background: linear-gradient(192deg, var(--whiteish), var(--gun-metal));
  }
  49% {
    background: linear-gradient(196deg, var(--whiteish), var(--gun-metal));
  }
  50% {
    background: linear-gradient(200deg, var(--whiteish), var(--gun-metal));
  }
  100% {
    background: linear-gradient(360deg, var(--whiteish), var(--gun-metal));
  }
}

.timer-container {
  font-size: 20px;
  padding: 2px 10px;
  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
}

.timer {
  background-color: var(--gun-metal);
  padding: 0px 8px;
  padding-bottom: 3px;
  color: var(--pale-green);
  border-radius: 10px;
  border: 2px solid var(--pale-green);
  font-weight: normal;
}

/* ----------------------------------------------------- */
/* Draft Queue */

.queue-scroll {
  overflow: hidden;
}

.player-queue {
  background-color: var(--gun-metal);
  border-bottom: 2px solid var(--pale-green);
  border-right: 2px solid var(--pale-green);
}

.queue-element-container {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--dark-blue);
  color: var(--pale-green);
  margin: 4px;
  margin-top: 4px;
  border: 2px solid var(--pale-green);
  border-radius: 50%;
}

.list-element.queue #active {
  box-shadow: none;
}

.queue-element-container.partition {
  height: 58px !important;
  width: 0px !important;
  font-size: 0;
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-top: 0px;
  margin-right: 3px;
  display: none;
}

.queue-element-container.round {
  height: 52px !important;
  width: 60px !important;
  line-height: 56px;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0;
  background-color: var(--dark-blue) !important;
  border-top: none;
  border-bottom: none;
  margin-right: 6px;
  margin-left: 6px;
}

.queue-element-container.round.first-round {
  margin-left: 0px;
}

/* ----------------------------------------------------- */
/* Body */
/* ----------------------------------------------------- */

.content-container {
  display: inline-flex;
  width: 100%;
  height: fit-content;
}

/* ----------------------------------------------------- */
/* Team/Teams */

.team-container {
  width: 25%;
  border: 2px solid var(--pale-green);
  border-top: none;
}

.subtitle {
  padding: 5px 10px;
  color: var(--pale-green);
  border-bottom: 2px solid var(--pale-green);
  margin: -1px;
}

.list-element.team {
  display: block;
  font-size: 13px;
  color: var(--pale-green);
  padding: 6px 0px;
  padding-left: 8px;
  border-bottom: 1px solid var(--pale-green);
  margin: -1px;
}

.team-select {
  width: 101%;
  height: fit-content;
  font-size: 12px;
  padding: 6px;
  padding-bottom: 5px;
  padding-left: 1px;
  color: var(--dark-blue);
  background-color: var(--pale-green);
  border: none;
  margin-left: -0.5px;
  margin-bottom: -0.5px;
}

.team-select:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* Players */

.player-container {
  width: 50%;
  border: 2px solid var(--pale-green);
  border-top: none;
  border-left: none;
  border-right: none;
}

/* ----------------------------------------------------- */
/* Top */

.players-top {
  display: block;
  overflow: auto;
  width: 100%;
  height: fit-content;
}

.player-image-info {
  display: inline-flex;
  float: left;
  width: 100%;
}

.player-image {
  width: 100px;
  height: fit-content;
  margin: 10px;
  margin-left: 20px;
  opacity: 0.9;
}

.player-text {
  color: var(--pale-green);
  width: 30%;
}

.player-name {
  margin-top: 15px;
  font-size: 16px;
}

.player-info {
  font-size: 12px;
}

.player-buttons {
  float: right;
  position: sticky;
  margin-top: -105px;
  display: inline-flex;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* Draft Button */

.draft-button {
  font-size: 18px;
  padding: 2px 8px;
  color: var(--pale-green);
  background-color: var(--gun-metal);
  border: 2px solid var(--pale-green);
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.2s ease;
}

.draft-button:hover {
  cursor: pointer;
  background-color: var(--pale-green);
  color: var(--gun-metal);
}

/* Add Favorite Button */
.add-favorite-container {
  margin-right: 13px;
}

.add-favorite {
  font-size: 19px;
  padding: 3px;
  line-height: 10px;
  background-color: var(--gun-metal);
  color: var(--pale-green);
  border: 2px solid var(--pale-green);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.2s ease;
}

.add-favorite:hover {
  cursor: pointer;
  background-color: var(--pale-green);
  color: var(--gun-metal);
}

#disabled-button {
  opacity: 0.8;
}

#disabled-button:hover {
  cursor: not-allowed;
  background-color: var(--gun-metal);
  color: var(--pale-green);
}

/* ----------------------------------------------------- */
/* Search Form */

.search-container {
  float: right;
  position: sticky;
  margin-top: -38px;
}

.player-search-form {
  display: inline-flex;
}

.player-search {
  float: left;
  width: 70%;
  height: 20px;
  padding: 1px 6px;
  border: none;
  font-size: 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

::placeholder {
  color: var(--dark-blue);
  opacity: 0.8;
}

.player-search:focus {
  outline: none;
}

.player-search-button {
  float: right;
  text-align: center;
  line-height: 8px;
  border: none;
  font-size: 10px;
  padding: 0 6px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

.player-search-button:hover {
  cursor: pointer;
}

.player-positions-container {
  width: 100%;
}

.toggle-drafted-container {
  float: right;
  margin-right: 7px;
  margin-top: -5px;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 10px;
}

.toggle-drafted-form {
  display: inline-flex;
  color: var(--pale-green);
}

.toggle-drafted-form label {
  margin-right: 5px;
}

.toggle-drafted-form input {
  width: 10px;
  height: 10px;
  margin-top: 1.5px;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* Players Bottom */

.players-bottom {
  margin-top: 10px;
}

.player-positions-list {
  display: inline-flex;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid var(--pale-green);
}

.position-option {
  width: 12%;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  background-color: var(--gun-metal);
  color: var(--pale-green);
  border: 1.5px solid var(--pale-green);
  margin-bottom: -1px;
  transition: ease;
}

.position-option.ALL {
  border-left: none;
}

.position-option.DST {
  border-right: none;
}

.position-option:hover {
  cursor: pointer;
  opacity: 0.8;
}

#active1 {
  background-color: var(--pale-green);
  color: var(--dark-blue);
  font-weight: 500;
  opacity: 1;
}

/* ----------------------------------------------------- */
/* Players Table */

.all-players-container {
  margin: 0px;
  max-height: 350px;
  overflow: hidden;
}

.all-players-container:hover {
  overflow: overlay;
}

.all-players-container::-webkit-scrollbar {
  background-color: var(--gun-metal-scroll);
  height: 8px;
}

.all-players-container::-webkit-scrollbar-thumb {
  background-color: var(--pale-green-scroll);
  transition: 0.6s ease;
}

.all-players-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--pale-green-scroll-light);
}

.all-players-container::-webkit-scrollbar-button {
  display: none;
}

.players-table {
  min-width: 450px;
  font-size: 12px;
  background-color: var(--dark-blue);
  color: var(--pale-green);
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  padding: 3px 7px;
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

td {
  padding: 5px 3px;
}

tr {
  background-color: var(--gun-metal);
  color: var(--pale-green);
  transition: 0.08s ease;
}

tr:hover {
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

#activePlayer {
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

.table-rows:hover {
  cursor: pointer;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* Favorites */

.favorites-container {
  width: 25%;
  border: 2px solid var(--pale-green);
  border-top: none;
}

.favorites-list {
  display: block;
  max-height: 413px;
  overflow-y: hidden;
}

.favorites-list:hover {
  overflow-y: auto;
}

.favorites-list::-webkit-scrollbar {
  background-color: var(--gun-metal-scroll);
  width: 8px;
}

.favorites-list::-webkit-scrollbar-thumb {
  background-color: var(--pale-green-scroll);
  transition: 0.6s ease;
}

.favorites-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--pale-green);
}

.favorites-list::-webkit-scrollbar-button {
  display: none;
}

.list-element.favorite {
  display: block;
  border-bottom: 1px solid var(--pale-green);
  color: var(--pale-green);
  font-size: 12px;
  padding: 2px 7px;
}

.remove-container {
  float: left;
  width: 10%;
  height: 100%;
  line-height: 20px;
}

.remove-favorite {
  border-radius: 100%;
}

.remove-favorite:hover {
  cursor: pointer;
  background-color: var(--pale-green);
  color: var(--dark-blue);
}
