:root {
  --dark-blue: #073b4c;
  --light-blue: #118ab2;
  --whiteish: #d7fdf0;
  --pale-green: #b2ffd6;
  --pink: #aa78a6;
  --gun-metal: #1e343b;
  --gun-metal-scroll: #1e343bc0;
  --pale-green-scroll: #b2ffd691;
}

* {
  margin: 0;
  padding: 0;
}

.mock-container {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background-color: var(--dark-blue);
  min-width: 600px;
}

.header {
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid var(--pale-green);
}

.title {
  display: inline-flex;
  padding: 8px 13px;
  font-size: 40px;
  color: var(--pale-green);
}

.timer-container {
  display: inline-flex;
  float: right;
  font-size: 20px;
  padding: 2px 10px;
  margin-right: 10px;
  margin-top: 15px;
  vertical-align: middle;
  text-align: center;
}

.timer {
  background-color: var(--gun-metal);
  padding: 0px 6px;
  padding-bottom: 3px;
  color: var(--pale-green);
  border-radius: 10px;
  border: 2px solid var(--pale-green);
}

.player-queue {
  background-color: var(--gun-metal);
  border-bottom: 2px solid var(--pale-green);
}

.queue-element-container {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--dark-blue);
  color: var(--pale-green);
  margin: 4px;
  margin-top: 4px;
  border: 2px solid var(--pale-green);
  border-radius: 50%;
}

.list-element.queue #active {
  box-shadow: none;
}

.queue-element-container.partition {
  height: 58px !important;
  width: 0px !important;
  font-size: 0;
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-top: 0px;
  margin-right: 3px;
  display: none;
}

.queue-element-container.round {
  height: 52px !important;
  width: 60px !important;
  line-height: 52px;
  margin: 0;
  font-size: 12px;
  border-radius: 0;
  background-color: var(--dark-blue) !important;
  border-top: none;
  border-bottom: none;
  margin-right: 6px;
  margin-left: 6px;
}

.queue-element-container.round.first-round {
  margin-left: 0px;
}

.content-container {
  display: inline-flex;
  width: 100%;
  height: fit-content;
}

.team-container {
  width: 25%;
  border: 2px solid var(--pale-green);
  border-top: none;
}

.subtitle {
  padding: 5px 10px;
  color: var(--pale-green);
  border-bottom: 2px solid var(--pale-green);
  margin: -1px;
}

.list-element.team {
  display: block;
  font-size: 12px;
  color: var(--pale-green);
  padding: 3px;
  padding-left: 10px;
  border-bottom: 1px solid var(--pale-green);
  margin: -1px;
}

.team-select {
  width: 101%;
  height: fit-content;
  font-size: 16px;
  padding: 6px;
  padding-bottom: 5px;
  padding-left: 2px;
  color: var(--dark-blue);
  background-color: var(--pale-green);
  border: none;
  margin-left: -0.5px;
  margin-bottom: -0.5px;
}

.team-select:hover {
  cursor: pointer;
  opacity: 0.8;
}

.player-container {
  width: 50%;
  border: 2px solid var(--pale-green);
  border-top: none;
  border-left: none;
  border-right: none;
}

.players-top {
  display: block;
  overflow: auto;
  width: 100%;
  height: fit-content;
}

.player-image-info {
  display: inline-flex;
  float: left;
  width: 100%;
}

.player-image {
  width: 100px;
  height: fit-content;
  margin: 10px;
  margin-left: 20px;
  opacity: 0.9;
}

.player-text {
  color: var(--pale-green);
}

.player-name {
  margin-top: 15px;
  font-size: 16px;
}

.player-info {
  font-size: 12px;
}

/* Add Favorite Button */
.add-favorite-container {
  float: right;
  position: sticky;
  margin-top: -115px;
  margin-right: 14px;
}

.add-favorite {
  font-size: 18px;
  padding: 3px;
  line-height: 10px;
  background-color: var(--gun-metal);
  color: var(--pale-green);
  border: 2px solid var(--pale-green);
  border-radius: 5px;
  transition: 0.2s ease;
}

.add-favorite:hover {
  cursor: pointer;
  background-color: var(--pale-green);
  color: var(--gun-metal);
}

/* Search Form */
.search-container {
  float: right;
  position: sticky;
  margin-top: -38px;
}

.player-search-form {
  display: inline-flex;
}

.player-search {
  float: left;
  width: 70%;
  height: 20px;
  padding: 1px 6px;
  border: none;
  font-size: 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

::placeholder {
  color: var(--dark-blue);
  opacity: 0.8;
}

.player-search:focus {
  outline: none;
}

.player-search-button {
  float: right;
  text-align: center;
  line-height: 8px;
  border: none;
  font-size: 10px;
  padding: 0 6px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

.player-search-button:hover {
  cursor: pointer;
}

.player-positions-container {
  width: 100%;
}

/* Players Bottom */
.players-bottom {
  margin-top: 10px;
}

.player-positions-list {
  display: inline-flex;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid var(--pale-green);
}

.position-option {
  width: 12%;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  background-color: var(--gun-metal);
  color: var(--pale-green);
  border: 1.5px solid var(--pale-green);
  margin-bottom: -1px;
  transition: ease;
}

.position-option:hover {
  cursor: pointer;
  opacity: 0.8;
}

#active1 {
  background-color: var(--pale-green);
  color: var(--dark-blue);
  font-weight: 500;
  opacity: 1;
}

/* Players Table */
.all-players-container {
  margin: 0px;
  overflow-x: scroll;
}

.players-table {
  min-width: 450px;
  font-size: 10px;
  background-color: var(--dark-blue);
  color: var(--pale-green);
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

::-webkit-scrollbar {
  background-color: var(--gun-metal-scroll);
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pale-green-scroll);
  transition: 0.6s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--pale-green);
}

::-webkit-scrollbar-button {
  display: none;
}

th {
  padding: 3px 7px;
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

td {
  padding: 5px 3px;
}

tr {
  background-color: var(--gun-metal);
  color: var(--pale-green);
  transition: 0.1s ease;
}

tr:hover {
  background-color: var(--pale-green);
  color: var(--dark-blue);
}

.table-rows:hover {
  cursor: pointer;
}

/* Favorites */
.favorites-container {
  width: 25%;
  border: 2px solid var(--pale-green);
  border-top: none;
}
