:root {
  --dark-blue: #073b4c;
  --light-blue: #118ab2;
  --whiteish: #d7fdf0;
  --pale-green: #b2ffd6;
  --pink: #aa78a6;
  --gun-metal: #1e343b;
  --t-shadow: #073b4c13;
  --b-shadow: #b2ffd654;
  --b-shadow-inactive: #073b4c56;
}

* {
  margin: 0;
  padding: 0;
}

.mock-container {
  width: 100%;
  height: fit-content;
  background-color: var(--dark-blue);
}

.header {
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid var(--pale-green);
}

.title {
  display: inline-flex;
  padding: 8px 13px;
  font-size: 40px;
  color: var(--pale-green);
}

.timer-container {
  display: inline-flex;
  float: right;
  font-size: 20px;
  padding: 2px 10px;
  margin-right: 10px;
  margin-top: 15px;
  vertical-align: middle;
  text-align: center;
}

.timer {
  background-color: var(--gun-metal);
  padding: 0px 6px;
  padding-bottom: 2px;
  color: var(--pale-green);
  border-radius: 10px;
  border: 2px solid var(--pale-green);
}

.player-queue {
  background-color: var(--gun-metal);
  border-bottom: 2px solid var(--pale-green);
}

.queue-element-container {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--dark-blue);
  color: var(--pale-green);
  margin: 4px;
  margin-top: 4px;
  border: 2px solid var(--pale-green);
  border-radius: 50%;
}

.list-element.queue #active {
  box-shadow: none;
}

.queue-element-container.partition {
  height: 58px !important;
  width: 0px !important;
  font-size: 0;
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-top: 0px;
  margin-right: 3px;
  display: none;
}

.queue-element-container.round {
  height: 52px !important;
  width: 60px !important;
  line-height: 52px;
  margin: 0;
  font-size: 12px;
  border-radius: 0;
  background-color: var(--dark-blue) !important;
  border-top: none;
  border-bottom: none;
  margin-right: 6px;
  margin-left: 6px;
}

.queue-element-container.round.first-round {
  margin-left: 0px;
}

.content-container {
  display: inline-flex;
  width: 100%;
  height: fit-content;
}

.team-container {
  width: 25%;
  border: 2px solid var(--pale-green);
  border-top: none;
}

.subtitle {
  padding: 5px 10px;
  color: var(--pale-green);
  border-bottom: 2px solid var(--pale-green);
  margin: -1px;
}

.list-element.team {
  display: block;
  font-size: 12px;
  color: var(--pale-green);
  padding: 3px;
  padding-left: 10px;
  border-bottom: 1px solid var(--pale-green);
  margin: -1px;
}

.team-select {
  width: 100.2%;
  height: fit-content;
  font-size: 16px;
  padding: 6px;
  padding-bottom: 5px;
  padding-left: 2px;
  color: var(--dark-blue);
  background-color: var(--pale-green);
  border: none;
  margin-left: -0.1px;
  margin-bottom: -0.5px;
}

.team-select:hover {
  cursor: pointer;
  opacity: 0.8;
}

.player-container {
  width: 50%;
  border: 2px solid var(--pale-green);
  border-top: none;
  border-left: none;
  border-right: none;
}

.players-top {
  display: inline-flex;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid var(--pale-green);
}

.player-image {
  width: 100px;
  height: fit-content;
  margin: 10px;
  margin-left: 20px;
  opacity: 0.9;
}

.player-text {
  color: var(--pale-green);
}

.player-name {
  margin-top: 15px;
  font-size: 16px;
}

.player-info {
  font-size: 12px;
}

.favorites-container {
  width: 25%;
  border: 2px solid var(--pale-green);
  border-top: none;
}
